<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:mvc="http://www.springframework.org/schema/mvc"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="
    	http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans-4.2.xsd
        http://www.springframework.org/schema/mvc
        http://www.springframework.org/schema/mvc/spring-mvc-4.2.xsd     
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context-4.2.xsd">
	<!--解析com.syc.user_controller包下的注解 -->
	<context:component-scan base-package="com.syc.user_controller" />
	<context:component-scan base-package="com.syc.admin_controller" />
	<!-- 注解的驱动 -->
	<mvc:annotation-driven />

	<!--处理映射器将bean的name作为url进行查找,需要在配置Handle时指定name,即url地址 -->
	<bean
		class="org.springframework.web.servlet.handler.BeanNameUrlHandlerMapping" />
		
	<!--SimpleControllerHandlerAdapter是一个处理器适配器,所有处理适配器都要实现 HandlerAdapter接口 -->
	<bean
		class="org.springframework.web.servlet.mvc.SimpleControllerHandlerAdapter" />
		
	<!--视图解析器,管理静态资源 ，，，默认拦截静态资源-->
	<bean
		class="org.springframework.web.servlet.view.InternalResourceViewResolver" />
	<!--配置静态资源的读取位置与映射 -->
	<!-- <mvc:resources location="/" mapping="/*.html"></mvc:resources> -->
	<!-- 一下内容需要公开 -->
	<mvc:resources location="/css/" mapping="/css/**"/>
	<mvc:resources location="/js/" mapping="/js/**"/>
	<mvc:resources location="/icon/" mapping="/icon/**"/>
	<mvc:resources location="/img/" mapping="/img/**"/>
	<mvc:resources location="/jpeg/" mapping="/jpeg/**"/>
	<mvc:resources location="/pngj/" mapping="/pngj/**"/>
	<mvc:resources location="/html/" mapping="/html/**"/>
	<!-- 表示上述配置css等文件不属于viewResolver解析器管理的内容 -->
	<mvc:default-servlet-handler/>
</beans>
